
DATA/title.akas.tsv.gz
DATA/title.basics.tsv.gz
DATA/title.ratings.tsv.gz
DATA/Data/ratings.akas.tsv.gz
DATA/Data/title.akas.tsv.gz
DATA/Data/title_basics.csv.gz
Project 3/.ipynb_checkpoints/API Calls-checkpoint.ipynb
Project 3/.ipynb_checkpoints/Project3-checkpoint.ipynb
Project 3/API Calls.ipynb
Project 3/Data/ratings.akas.tsv.gz
Project 3/Data/title.akas.tsv.gz
Project 3/Data/title_basics.csv.gz
Project 3/Project3.ipynb
Project 3/title.akas.tsv.gz
Project 3/title.basics.tsv.gz
Project 3/title.ratings.tsv.gz
Project 3/Data/title.akas_cleaned.tsv.gz
In_progress/Data/ratings.akas.tsv.gz
In_progress/Data/ratings_cleaned.akas.tsv.gz
In_progress/Data/title.akas.tsv.gz
In_progress/Data/title.akas_cleaned.tsv.gz
In_progress/Data/title_basics_cleaned.csv.gz
In_progress/Data/title.ratings (1).tsv
In_progress/Data/title_basics.csv.gz
In_progress/title.akas.tsv.gz
In_progress/title.basics.tsv.gz
In_progress/title.ratings.tsv.gz
In_progress/Data/ratings_cleaned1.akas.tsv.gz
In_progress/Data/title.akas_cleaned1.tsv.gz
In_progress/Data/title_basics_cleaned1.csv.gz
In_progress/Data/title_basics_cleaned_1.csv.gz
Data/ratings_clean_df.csv.gz
Data/title_akas_clean_df.csv.gz
Data/title_basics_clean_df.csv.gz
