
DATA/title.akas.tsv.gz
DATA/title.basics.tsv.gz
DATA/title.ratings.tsv.gz
DATA/Data/ratings.akas.tsv.gz
DATA/Data/title.akas.tsv.gz
DATA/Data/title_basics.csv.gz
Project 3/.ipynb_checkpoints/API Calls-checkpoint.ipynb
Project 3/.ipynb_checkpoints/Project3-checkpoint.ipynb
Project 3/API Calls.ipynb
Project 3/Data/ratings.akas.tsv.gz
Project 3/Data/title.akas.tsv.gz
Project 3/Data/title_basics.csv.gz
Project 3/Project3.ipynb
Project 3/title.akas.tsv.gz
Project 3/title.basics.tsv.gz
Project 3/title.ratings.tsv.gz
